# Ignorar tudo por padrão
*

# Permitir TODOS os diretórios para que as exceções abaixo funcionem
!*/

# Permitir arquivos essenciais do projeto
!*.cs
!*.sln
!*.csproj
!*.json
!*.md
!*.gitignore

# Bloquear binários e builds do .NET
bin/
obj/
**/bin/
**/obj/
